<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../view/css/Estilo.css">
   
    <title>formLanguage</title>
</head>
<body>
    
    <form action="../buis/CountryR.php" method="post">
    <ul>
    <fieldset>
        <legend>Country</legend>
    <li> <label>Country</label> 
        <input class="input1" type="text" name="txtcountry" required>
    </li>

</fieldset>


<li>
                
    <input class="btn_registro" type="submit" value="Añadir">

     </li>
    </ul>
    </form>
</body>
</html>