<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../view/css/Estilo.css">
   
    
    <title>Document</title>
</head>

<header>
<nav>
    <ul>
        <li> <a href='../index.php'>Inicio</a> </li>
            <li> <a href='formRegistro.html'>Registrar</a> </li>
    </ul>
</nav>
</header>
<body>
    <form action="../buis/login.php" method="post">
    <ul>
<fieldset>
    <legend>Usuario</legend>
    <li> 
        <label>Correo</label> 
        <input class="input1" type="email" name="correo" required>
    </li>
    <li> 
        <label>Contraseña</label>
        <input class="input1" type="password" name="passw"  required pattern="[A-Za-z0-9]{2,20}">
    </li>
</fieldset>
    <li> 
        <input class="btn_registro" type="submit" value="Iniciar Sesion">
    </li>
    </ul>
    </form>
</body>
</html>